{% extends "base.html" %} {% block content %}

<img class="fix-img" src="../static/upload/math.jpg" alt="..." />

<div class="background-image">
  <div class="filter">
    <h2 style="color: white">哈囉你好</h2>
  </div>
</div>

<div class="info-circles">
  <h3 class="text-center">參觀主題</h3>
  <div class="circles">
    <div class="circle">
      <img src="../static/upload/image1.jpg" alt="..." />
      <p>夜晚的大門</p>
    </div>
    <div class="circle">
      <img src="../static/upload/image2.jpg" alt="..." />
      <p>白天的學校</p>
    </div>
    <div class="circle">
      <img src="../static/upload/image3.jpg" alt="..." />
      <p>圖書館</p>
    </div>
  </div>
</div>

<div class="empty-container"></div>

<div class="container-fluid fadeInScroll">
  <h1 class="text-center">介紹</h1>
  <div class="row" id="first-p">
    <div class="col-md-6">
      <div class="text">
        <h3>簡介</h3>
        <p>
          楠梓校區/旗津校區:原「國立高雄海洋科技大學」土地面積為23.2 公頃。
          楠梓校區鄰近高雄捷運後勁站，交通便利，設有管理學院、水圈學院及海洋工程學院。
          旗津校區為船員訓練中心基地，擁有國內唯一之學校專屬碼頭，設有海事學院。
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="image-container">
        <img class="img-fluid" src="../static/upload/image2.jpg" alt="..." />
        <div class="overlay">
          <div class="overlay-text">
            <p>好熱啊~</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid fadeInScroll">
  <div class="row">
    <div class="col-md-6">
      <div class="image-container">
        <img src="../static/upload/image1.jpg" class="img-fluid" alt="..." />
        <div class="overlay">
          <div class="overlay-text">
            <p>還是熱啊~</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="text">
        <h3 id="sec-p">大門</h3>
        <p>
          楠梓校區/旗津校區:原「國立高雄海洋科技大學」土地面積為23.2 公頃。
          楠梓校區鄰近高雄捷運後勁站，交通便利，設有管理學院、水圈學院及海洋工程學院。
          旗津校區為船員訓練中心基地，擁有國內唯一之學校專屬碼頭，設有海事學院。
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid fadeInScroll">
  <div class="row">
    <div class="col-md-6">
      <div class="text">
        <h3 id="th-p">圖書館</h3>
        <p>
          楠梓校區/旗津校區:原「國立高雄海洋科技大學」土地面積為23.2 公頃。
          楠梓校區鄰近高雄捷運後勁站，交通便利，設有管理學院、水圈學院及海洋工程學院。
          旗津校區為船員訓練中心基地，擁有國內唯一之學校專屬碼頭，設有海事學院。
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="image-container">
        <img src="../static/upload/image3.jpg" class="img-fluid" alt="..." />
        <div class="overlay">
          <div class="overlay-text">
            <p>好熱啊~</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="empty-container"></div>

<div class="container-fluid fadeInScroll">
  <h1 class="text-center">地圖</h1>
  <img
    style="width: 100%; height: auto; display: block; margin: 0 auto"
    src="../static/upload/image4.jpg"
    alt="..."
  />
</div>

<!-- 
  <form action="/info" method="post">
    <button>sunbmit a request</button>
  </form> -->

{% endblock %}
